################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Syllabore/v16/.suo
/.vs
/Syllabore/.vs/Syllabore/v16
/Syllabore/Syllabore/bin/Debug/netstandard2.0
/Syllabore/Syllabore/obj
/Syllabore/Syllabore.Example/bin/Debug/netcoreapp2.1
/Syllabore/Syllabore.Example/obj
/Syllabore/.vs/Syllabore/DesignTimeBuild
