################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Syllabore/v16/.suo
/.vs
/Syllabore/.vs/Syllabore/v16
/Syllabore/Syllabore/bin/Debug/netstandard2.0
/Syllabore/Syllabore/obj
/Syllabore/Syllabore.Example/bin/Debug/netcoreapp2.1
/Syllabore/Syllabore.Example/obj
/Syllabore/.vs/Syllabore/DesignTimeBuild
/Syllabore/Syllabore.Tests/bin/Debug/netcoreapp3.1
/Syllabore/Syllabore.Tests/obj
/Syllabore/Syllabore/bin/Release
/Syllabore/Syllabore.Example/bin/Release/netcoreapp2.1
/Syllabore/Syllabore.Tests/bin/Release/netcoreapp3.1
/Syllabore/Syllabore/bin/Debug
/Syllabore/Syllabore/Syllabore.csproj.user
/Syllabore/Syllabore.Example/bin/Debug/net5.0/ref
/Syllabore/Syllabore.Example/bin/Debug/net5.0/Data
/Syllabore/Syllabore.Example/bin/Debug/net5.0
/Syllabore/Syllabore.Example/bin/Release/net5.0/Data
/Syllabore/Syllabore.Example/bin/Release/net5.0
/Syllabore/Syllabore.Tests/bin/Release/net5.0
/Syllabore/Syllabore.Tests/bin/Debug/net5.0/Syllabore/Syllabore.Example/bin/Debug/net7.0
/Syllabore/Syllabore.Example/bin/Debug/net8.0
/Syllabore/Syllabore.Tests/bin/Debug/net8.0
/Syllabore/Syllabore.Example/bin/Release/net8.0
/Syllabore/Syllabore.Tests/bin/Release/net8.0
/Syllabore/Syllabore.Visualizer/.godot
/Syllabore/Syllabore.Visualizer/.vs/SYLLABORE.VISUALIZER
/Syllabore/Syllabore.Visualizer/.vs/ProjectEvaluation
/Syllabore/.vs/
/Syllabore/Syllabore.Example/bin/Debug/net7.0
/Syllabore/Syllabore.Tests/bin/Debug/net5.0
